body {
  background: #559317;
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
}

input {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #450808;
  border-radius: 5px;
}

button {
  width: 220px;
  padding: 10px;
  background: rgb(43, 29, 197);
  color: rgb(220, 27, 191);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #08bf76;
}