body {
  background: #70bded;
  font-family: Arial;
  text-align: center;
  margin-top: 130px;
}

input {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #2b0808;
  border-radius: 5px;
}

button {
  width: 220px;
  padding: 10px;
  background: rgb(233, 226, 149);
  color: rgb(59, 19, 90);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #08c50f33;
}